Doesn't work in IE11, Edge when the http2 protocol is used

According to the current implementation
```
if (xhr.readyState === state.HEADERS_RECEIVED) {
            encoding = xhr.getResponseHeader('Transfer-Encoding') || '';
            encoding = encoding.toLowerCase();
            isChunked = encoding.indexOf('chunked') > -1 ||
                        encoding.indexOf('identity') > -1; // fix for Safari
            if (!isChunked) {
                // SPDY inherently uses chunked transfer and does not define a header.
                // Firefox provides a synthetic header which can be used instead.
                // For Chrome, a non-standard JS function must be used to determine if
                // the primary document was loaded with SPDY.  If the primary document
                // was loaded with SPDY, then most likely the XHR will be as well.
                chromeObj = window.chrome;
                loadTimes = chromeObj && chromeObj.loadTimes && chromeObj.loadTimes();
                chromeSpdy = loadTimes && loadTimes.wasFetchedViaSpdy;
                isChunked = !!(xhr.getResponseHeader('X-Firefox-Spdy') || chromeSpdy);
            }
            onHeaders(xhr.statusText, parseHeader(xhr.getAllResponseHeaders()));
        } else if (xhr.readyState === state.LOADING) {
            if (isChunked && xhr.responseText) {
                onChunk(xhr.responseText);
            }
        }
```
`isChunked` never be `true` in IE and Edge when the http2 protocol is used (since `Transfer-Encoding` header in not sending via http2).

Is it not sent, even when you explicitly set in the response header? We should probably have custom logic for IE I guess. Is there anything that differentiates a chunked response for IR and Edge on HTTP/2?

According to [rfc7540 (Hypertext Transfer Protocol Version 2 (HTTP/2))](https://tools.ietf.org/html/rfc7540)

> HTTP/2 uses DATA frames to carry message payloads.  The "chunked" transfer encoding defined in [Section 4.1 of [RFC7230]](https://tools.ietf.org/html/rfc7230#section-4.1) MUST NOT be used in HTTP/2.

So, it doesn't send this header even when you explicitly set in the response header.


Looking into the code now, I think we can indeed remove the whole `isChunked` logic. Can you try locally to remove `isChunked` check and verify it works fine. Something like
```js
if (xhr.readyState === state.HEADERS_RECEIVED) {
            onHeaders(xhr.statusText, parseHeader(xhr.getAllResponseHeaders()));
        } else if (xhr.readyState === state.LOADING) {
            if (xhr.responseText) {
                onChunk(xhr.responseText);
            }
        }
```

That's actully what I've done to resolve the issue when we had started using http2 protocol.
The appropriate PR was created for it https://github.com/eBay/jsonpipe/pull/21

Thanks for the PR.